<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p class="copyright">&copy; <script>const today = new Date(); document.write(today.getFullYear());</script> CSS Grid Demo</p>
  </div>
</footer>
<!-- Footer -->
