<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, width=device-width, shrink-to-fit=no">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="keywords" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Prototype Template" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Prototype Template">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:alt" content="">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="canonical" href="" />
    <link rel="stylesheet" type="text/css" href="/css/styles.v1-0-1.min.css">
    {% block links %}{% endblock %}
  </head>
  <body id="{{ pagename }}-app" class="app {{ pagename }}-app">

    {% include "./header.njk" %}

    {% block content %}{% endblock %}

    {% include "./footer.njk" %}

    <!-- Scripts -->
    <script id="polyfill-script" src="/js/polyfill.v1-0-1.min.js"></script>
    <script src="/js/app.v1-0-1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
    {% block scripts %}{% endblock %}
    <!-- Scripts -->
  </body>
</html>
