// Helpful classes
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

// Clearfix
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}
