// Mixins
// Grid mixins
@mixin xs {
  /* stylelint-disable unit-whitelist */
  @media (max-width: #{$sm-width - 1px}) {
    /* stylelint-enable unit-whitelist */
    @content;
  }
}

@mixin sm-only {
  /* stylelint-disable unit-whitelist */
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1px}) {
    /* stylelint-enable unit-whitelist */
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin md-only {
  /* stylelint-disable unit-whitelist */
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    /* stylelint-enable unit-whitelist */
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin grid-column($column-span) {

  @supports (display: grid) {
    grid-column-end: span $column-span;
    grid-column-start: auto;
  }
}

@mixin build-grid($grid-breakpoint, $grid-span) {

  .col-#{$grid-breakpoint}-#{$grid-span} {

    @if $grid-breakpoint == 'sm' {
      @include sm {
        @include grid-column($grid-span);
      }
    } @else if $grid-breakpoint == 'md' {
      @include md {
        @include grid-column($grid-span);
      }
    } @else if $grid-breakpoint == 'lg' {
      @include lg {
        @include grid-column($grid-span);
      }
    } @else {
      @include xs {
        @include grid-column($grid-span);
      }
    }
  }
}

@mixin grid-column-offset($column-start) {

  @supports (display: grid) {
    /* stylelint-disable declaration-no-important */
    grid-column-start: $column-start + 1 !important;
    /* stylelint-enable declaration-no-important */
    margin: 0;
  }
}

@mixin build-offsets($grid-breakpoint, $grid-start) {

  .col-#{$grid-breakpoint}-offset-#{$grid-start} {

    @if $grid-breakpoint == 'sm' {
      @include sm {
        @include grid-column-offset($grid-start);
      }
    } @else if $grid-breakpoint == 'md' {
      @include md {
        @include grid-column-offset($grid-start);
      }
    } @else if $grid-breakpoint == 'lg' {
      @include lg {
        @include grid-column-offset($grid-start);
      }
    } @else {
      @include xs {
        @include grid-column-offset($grid-start);
      }
    }
  }
}
