{# Index #}
{% extends "../layouts/layout.njk" %}
{% set description = 'Prototype Template' %}
{% block meta %}{% endblock %}
{% set title = 'Prototype Template' %}
{% block links %}{% endblock %}
{% block scripts %}{% endblock %}
{% set pagename = 'home' %}

{% block content %}

<!-- Content -->
<main class="content {{ pagename }}-page">
  <section class="intro-section">
    <div class="container">
      <div class="row grid-row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 grid-col-sm-offset-3">
          <div class="grid-col">
            <h1 class="page-heading">{{ heading }}</h1>
            <h3>This is a test of pulling swatches from Widen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<!-- Content -->

{% endblock %}
