{# Index #}
{% extends "layout.njk" %}
{% set description = 'CSS Grid demo' %}
{% block meta %}{% endblock %}
{% set title = 'CSS Grid Demo' %}
{% block links %}{% endblock %}
{% block scripts %}{% endblock %}
{% set pagename = 'home' %}

{% block content %}

<!-- Content -->
<main class="content {{ pagename }}-page">
  <section class="intro-section">
    <div class="container">
      <div class="row grid-row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 grid-col-sm-offset-3">
          <div class="grid-col">
            <h1 class="page-heading">Product Visualization Test for Graber Blinds</h1>
            <h3>This is a test of zoom functionality</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="visualization-section">
    <div class="container">
      <div class="visualization">
        <div class="zoom-control-container" id="zoom-controls">
          <ul class="list-unstyled zoom-control-list">
            <li class="zoom-control-list-item zoom-in-list-item">
              <button type="button" class="zoom-button zoom-in-button"><span class="zoom-control-text zoom-in-text">Zoom In</span><span class="zoom-control-icon zoom-plus-icon"></span></button>
            </li>
            <li class="zoom-control-list-item zoom-out-list-item">
              <button type="button" class="zoom-button zoom-out-button"><span class="zoom-control-text zoom-out-text">Zoom Out</span><span class="zoom-control-icon zoom-minus-icon"></span></button>
            </li>
            <li class="zoom-control-list-item reset-list-item">
              <button type="button" class="zoom-button reset-button"><span class="zoom-control-text zoom-reset-text">Reset</span><span class="zoom-control-icon zoom-reset-icon"></span></button>
            </li>
          </ul>
          <div class="zoom-range-container">
            <input id="zoom-range-slider" type="range" min="1" max="2" value="1" step=".01">
          </div>
        </div>
        <div class="visualization-image-container">
          {# <img class="visualization-image" id="viz-image" src="https://s7d4.scene7.com/is/image/SpringsWindowFashions?src=ir{SpringsWindowFashionsRender/bali_horiz_vignette_cs_051116?i=5ccd4350-afaa-4772-953c-40f52d32753b&obj=Trim&color=246,245,240&obj=3_8in_double_cell_cellular_shade/3_8in_dc_standard&show&src=06B2454_WT}&hei=2000&wid=2000&fit=crop,1" alt="Visualization Room Scene"> #}
          {# <img class="visualization-image" id="viz-image" src="http://s7d4.scene7.com/is/image/SpringsWindowFashions?src=ir{SpringsWindowFashionsRender/zoom-test-vignette-2?&obj=solar-shades/cordless&show&src=14G40456_PT}&wid=2400" alt="Visualization Room Scene"> #}
          <img class="visualization-image" id="viz-image" src="http://s7d4.scene7.com/is/image/SpringsWindowFashions?src=ir{SpringsWindowFashionsRender/zoom-test-vignette-2?&obj=solar-shades/cordless&show&src=14G40456_PT&opac=90}&wid=2400&hei=2400" alt="Visualization Room Scene">
        </div>
        {# <div class="visualization-filter-container">
          <ul class="visualization-filter-list">
            <li class="visualization-filter-item">Productline</li>
            <li class="visualization-filter-item">Shade Type</li>
            <li class="visualization-filter-item">Color</li>
          </ul>
        </div> #}
      </div>
    </div>
  </section>
</main>
<!-- Content -->

{% endblock %}

http://s7d4.scene7.com/is/image/SpringsWindowFashions?src=ir{SpringsWindowFashionsRender/bali-solar-demo?&obj=solar_shades/ss_cordless&show&src=14G42424_WT&obj=ss_valances/ss_medium_cassette_valance&show&src=14G42424_WT&opac=100}&hei=600&wid=600&fit=fit,1

https://s7d4.scene7.com/is/image/SpringsWindowFashions?src=ir{SpringsWindowFashionsRender/bali_horiz_vignette_cs_051116?i=5ccd4350-afaa-4772-953c-40f52d32753b&obj=Trim&color=246,245,240&obj=3_8in_double_cell_cellular_shade/3_8in_dc_standard&show&src=06B2854_WT}&crop=173,30,221,304
